@{
    ViewBag.Title = "Comments";
}

@section Scripts
{
    <script defer src="https://cdn.commento.io/js/commento.js"></script>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div id="commento"></div>
}
else
{
    <h3 class="text-danger"> Login in to add comments. </h3>
}
