@{
    ViewBag.Title = "Comments";
}

@section Scripts
{
        <script defer src="https://cdn.commento.io/js/commento.js"></script>
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Login to comment.</p>


<div id="commento"></div>

